# Python files
*.py[cod]

# LaTeX intermediate / auxiliary files (recursive)
**/*.aux
**/*.lof
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.blg
**/*.bbl
**/*.bcf
**/*.run.xml
**/*.fdb_latexmk
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb
**/*.log
**/*.xdv

# Other editor or OS files (recursive)
**/*~
**/*.swp
**/.DS_Store

# PDF, images, version / config files (recursive)
**/*.pdf
**/*.png
**/.python-version
**/.vscode/